node_modules/
files/node_modules/

.env
files/.env

.env.example
files/.env.example

package.json
files/package.json

package-lock.json
files/package-lock.json

package-schema.json
files/package-schema.json

